

{% extends 'interviews/interview/base.html' %}

{% load i18n %}

{% block filename %}
  /home/ubuntu/usesthisph/interviews/templates/interviews/interview/interview_form.html
{% endblock %}

{% block title %}
  {% if object %}
    {% trans "Update Interview" %}
  {% else %}
    {% trans "Create a New Interview" %}
  {% endif %}
{% endblock %}

{% block header-link %}
  {% if object %}
    <a href='{% url "interviews_interview_update" pk=object.pk %}'>
      {% trans "Interview Update" %}
    </a>
  {% else %}
    <a href='{% url "interviews_interview_create" %}'>
      {% trans "Interview Create" %}
    </a>
  {% endif %}
{% endblock %}

{% block header-description %}
  {% if object %}
    {% trans "A view that displays a form for editing an existing object." %}
  {% else %}
    {% trans "A view that displays a form for creating an object." %}
  {% endif %}
{% endblock %}

{% block content %}
  <form action='{% if object %}{% url "interviews_interview_update" pk=object.pk %}{% else %}{% url "interviews_interview_create" %}{% endif %}' method='post' encoding='utf-8'>
    <fieldset>
      {% csrf_token %}
      {{ form }}
      <div class='form-actions'>
        <button class='btn btn-large btn-success' type='submit'>
          {% if object %}
            {% trans "Update" %}
          {% else %}
            {% trans "Create" %}
          {% endif %}
        </button>
      </div>
    </fieldset>
  </form>
{% endblock %}
