{% extends "interviews/interview/base.html" %}

{% block content %}
<h3>What's all this?</h3>
<p>The Setup PH is a localization of The Setup, a collection of nerdy interviews asking people from all walks of life what they use to get the job done.</p>

<h4>Questions</h4>

<dl>
    <dt>When are new interviews posted?</dt>
    <dd>No fixed schedule yet; will determine as I get an idea of the influx.</dd>

    <dt>Can I suggest someone to interview?</dt>
    <dd>Yes please! Either via email or Twitter (see below).</dd>

    <dt>Can I suggest myself?</dt>
    <dd>Yes, definitely! Contact me and let's go through your interview.</dd>

    <dt>Can I make my own version of The Setup?</dt>
    <dd>The Setup: <strong>Hell yeah!</strong> Everything is freely available <a href="http://github.com/waferbaby/usesthis/" title="The source code for the site.">on GitHub</a> - go nuts! And let me know if you do, so I can link to it.</dd>
    <dd>The Setup PH: Sure! The codebase for this site is <a href="https://github.com/chrismarceloph/usesthisph/">on GitHub</a>. Contact me if you need any help there.</dd>

    <dt>Who runs The Setup PH?</dt>
    <dd>I'm Kevin.</dd>

    <dt>How do I get in touch with you?</dt>
    <dd>Send an email to kevin@mockforest.com. Or, you can ping me <a href="http://twitter.com/usesthisph/" title="The usesthisph Twiter account.">on Twitter</a>.</dd>
</dl>
{% endblock %}
